grabcc
grabname
figures/
results/

benchmarks/accuracy
benchmarks/accuracy-ff

benchmarks/adam
benchmarks/adam-ff

benchmarks/adam-opt
benchmarks/adam-opt-ff

benchmarks/adv
benchmarks/adv-ff

benchmarks/aidw
benchmarks/aidw-ff

benchmarks/asta
benchmarks/asta-ff

benchmarks/attention
benchmarks/attention-ff

benchmarks/bilateral
benchmarks/bilateral-ff

benchmarks/bincount
benchmarks/bincount-ff

benchmarks/bscholes
benchmarks/bscholes-ff

benchmarks/bsearch
benchmarks/bsearch-ff

benchmarks/burger
benchmarks/burger-ff

benchmarks/car
benchmarks/car-ff

benchmarks/chi2
benchmarks/chi2-ff

benchmarks/fhd
benchmarks/fhd-ff

*.results